$ff-sans: "Open Sans", sans-serif;

$font-sizes: (
  "900": 3.75rem,
  // 60px
  "800": 3rem,
  // 48px
  "600": 1.5rem,
  // 24px
  "500": 1.3125rem,
  // 21px
  "400": 1.125rem,
  // 18px
);

$fw-400: 400;
$fw-700: 700;
